RAPIDAPI_KEY=your_rapidapi_key
NOTION_TOKEN=your_notion_internal_integration_secret
NOTION_PARENT_PAGE_ID=your_shared_notion_parent_page_id
NOTION_DATABASE_ID=your_shared_notion_database_id
NOTION_DATABASE_TITLE_PROPERTY=Name
CALENDAR_TIMEZONE=America/New_York
CALENDAR_AUTH_TIMEOUT_SECONDS=120
CALENDAR_API_TIMEOUT_SECONDS=30
MOON_LAT=40.73468964462097
MOON_LON=-74.25255582575559
