RAPIDAPI_KEY=your_rapidapi_key
NOTION_TOKEN=your_notion_internal_integration_secret
NOTION_PARENT_PAGE_ID=your_shared_notion_parent_page_id
NOTION_DATABASE_ID=35ed873a4a7780d4a242f6d750b62a4d
CALENDAR_TIMEZONE=America/New_York
GOOGLE_CLIENT_SECRET_FILE=backend/moon_agent.json
GOOGLE_TOKEN_FILE=backend/token.json
MOON_LAT=40.73468964462097
MOON_LON=-74.25255582575559
OPENAI_API_KEY=your_openai_api_key
